<div class="row mx-5 my-2">
    <div class="col-md-12">
      <form #addpostform="ngForm" (ngSubmit)="onSubmit(addpostform)">
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn btn-success mx-2"
                >Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>
        <div class="row my-5">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="title">Post Title</label>
              <input
                type="text"
                id="title"
                name="title"
                class="form-control"
                ngModel>
            </div>
            <div class="form-group">
                <label for="desc">Post Description</label>
                <textarea
                  type="text"
                  id="desc"
                  name="desc"
                  class="form-control"
                  rows="3"
                  ngModel ></textarea>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  

